@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/* ==========================================================================
MOBILE AND UP
========================================================================== */

body{
  background:#F1EAE1;
  font-family: 'Poppins', sans-serif;
  line-height:1.5;
  font-weight:500;
  font-size:15px;
}
